
.vooglab-elementlist {
	max-width: 1100px;
	margin: 30px auto;
}

.vooglab-elementlist h4 {
	font-size: 20px;
	font-weight: normal;
	margin: 0px 0px 20px 0px;
}

.vooglab-elementlist .vooglab-elementlist-globalactions {
	margin: 20px 0px;
}

.vooglab-elementlist table.vooglab-elementlist-elementlist {
	width: 100%;
	margin: 20px 0px;
	border-collapse: collapse;
}

.vooglab-elementlist table.vooglab-elementlist-elementlist th {
	font-size: 16px;
	font-weight: bold;
	padding: 9px 3px;
	border-bottom: 1px #e0e0e0 solid;
}

.vooglab-elementlist table.vooglab-elementlist-elementlist td {
	font-size: 16px;
	font-weight: normal;
	padding: 9px 3px;
	border-top: 1px #e0e0e0 solid;
	border-bottom: 1px #e0e0e0 solid;
}

.vooglab-elementlist table.vooglab-elementlist-elementlist th.actions, .vooglab-elementlist table.vooglab-elementlist-elementlist td.actions {
	width: 1%;
	text-align: right;
	padding: 9px 3px 9px 15px;
	white-space: nowrap;
}

.vooglab-elementlist table.vooglab-elementlist-elementlist td.actions button {
	cursor: pointer;
	display: inline-block !important;
	margin-left: 20px !important;
}

.edy-modal-large-width {
	width: 80%;
	max-width: 900px;
}

.edy-form-horizontal-30-70 .edy-form-group label {
	width: 30% !important;
}

.edy-form-horizontal-30-70 .edy-form-group .edy-form-control {
	width: 70% !important;
}

.edy-form-control.edy-checkbox {
	padding-top: 9px !important;
}
